streamlit
pandas
plotly
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
spacy
scikit-learn
matplotlib
seaborn
wordcloud
requests
groq
vaderSentiment
textblob
python-dotenv
numpy
