--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
streamlit
pandas
plotly
transformers
spacy
scikit-learn
matplotlib
seaborn
wordcloud
requests
groq
vaderSentiment
textblob
python-dotenv
numpy
